body {
    font-family: Josefin Sans;
}

img {
    float: left;
    width: 169px;
    height:160px;
}

nav {
    height: 149px;
    width: auto;
    position: fixed;
}

.title {
    float: left;
}
div[title="title"] p {
    text-shadow: 0 4px 8px rgba(39, 74, 33, 0.5);;
    color: #274A21;
    font-size: 48px;
    margin-top: 10px;
    margin-left: 238px;
    font-weight: bold;
   
  }

div[title="title"] h2 {
    color: #274A21;
    font-size: 20px;
    font-style: italic;
    margin-top: -60px;
    margin-left: 268px;
    text-shadow: 0 4px 8px rgba(39, 74, 33, 0.5);
}

.dot1 {
    display: inline-block;
    background-color: #274A21;
    margin-top: 56px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dot2 {
    display: inline-block;
    background-color: #274A21;
    margin-top: 56px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    align-items: center;
    float: left;
    margin-left: 238px;
    line-height: 10px;
}

li a {
    color: #274A21;
    font-weight: 900;
    text-decoration: none;
    padding: 8px;
    transition: font-size 0.3s;
}

li {
    display: block;
    float: left;

}

li :hover {
    color: #397c2d;
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
}

.active {
    color: #397c2d;
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
}

.left {
    float: right;
    right: 0;
}